html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
}

.background {
  background-color: #262d4c;
  background-image: url(../img/background-foods-v4.png);
  /* esse de baixo fz com que a img de fundo fique parada ao scrollar */
  background-attachment: fixed;
}

.conteudo {
  box-sizing: border-box;
  color: #525267;
  line-height: 3rem;
  width: 72%;
  max-width: 980px;
  background-color: #fff;
  box-shadow: #494949;
  margin: auto;
  margin-bottom: 120px;
  padding: 70px;
  border-radius: 10px;
}

.cabecalho {
  text-align: center;
  color: #fff;
  margin: auto;
  padding: 30px;
}

.logo img {
  width: 200px;
  margin-top: 50px;
}

/* menu feito com lista não ordenada*/
.navigation li {
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: #808080;
  text-decoration: none;
}

.navigation li a:hover {
  color: #494949;
  text-decoration: underline;
}

.navigation li a:active {
  color: #262d4c;
  text-decoration: underline;
}

.avatar {
  float: left;
  width: 200px;
  padding: 20px;
  margin-right: 20px;
}

.tagline {
  color: rgba(225, 225, 225, 0.803);
}

.fonte--media {
  font-size: 1.7rem;
}

.fonte--grande {
  font-size: 3rem;
}

.titulo {
  color: #49496f;
  font-size: 1.9rem;
  margin-top: 50px;
}

.titulo--fonte {
  font-family: "Exo 2", sans-serif;
}

.habilidades label {
  width: 300px;
  display: inline-block;
}

.habilidades progress {
  /* muda a cor da barra de progresso */
  accent-color: #2e2d4c;
}

.fotos img {
  text-align: center;
  width: 400px;
  height: 240px;
  border-radius: 10px;
  filter: grayscale(0.4);
}

.fotos img:hover {
  filter: none;
}

.btn-inicio {
  font-size: 3rem;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  line-height: 65px;
  text-align: center;
  background-color: #fff;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  z-index: 1;
}

.btn-inicio:hover {
  opacity: 1;
}

.footer {
  position: relative;
  padding: 120px;
  background-color: #181c30;
  color: #fff;
  text-align: center;
}

a:link {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #c9c9c9;
}

a:visited {
  color: #68668f;
}

.logotipo {
  color: #2e2d4c;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  font-size: 1.8rem;
  padding-top: 10px;
  z-index: 1;
}

.logotipo.fundo {
  background-color: #fff;
  width: 100px;
  height: 100px;
  float: right;
  /* precisa das duas prop abaixo juntas para q o elemeto fique exatamente no centro*/
  margin: -60px auto auto auto;
  transform: translateX(53%) rotate(45deg);
  z-index: 0;
}

@media (max-width: 720px) {
  body {
    position: absolute;
  }

  .conteudo {
    box-sizing: border-box;
    line-height: 2rem;
    width: 75%;
    max-width: 720px;
    padding: 40px;
  }

  .logo img {
    width: 150px;
    margin-top: 50px;
  }

  .avatar {
  }

  .fonte--grande {
    font-size: 2rem;
  }

  .fonte--media {
    font-size: 1rem;
  }

  .fotos img {
    text-align: center;
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: grayscale(0.4);
  }
}
