body {
  background-color: #262d4c;
}

.conteudo {
  width: 72%;
  background-color: #fff;
  margin: 120px auto;
  padding: 50px;
  border-radius: 10px;
}

.cabecalho {
  text-align: center;
  color: #fff;
  margin: 100px auto;
  padding: 30px;
}

.logo img {
  width: 200px;
}

/* menu feito com lista não ordenada*/
.navigation li {
  display: inline-block;
  width: 150px;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.navigation li a:link,
.navigation li a:visited {
  color: #808080;
  text-decoration: none;
}

.navigation li a:hover {
  color: #494949;
  text-decoration: underline;
}

.navigation li a:active {
  color: #262d4c;
  text-decoration: underline;
}

/* referenciar a tag dentro da classe, ai nao precisa criar mais classes :p */
.conteudo img {
  float: left;
  width: 140px;
  padding: 20px;
}

.fonte--media {
  font-size: 1.7rem;
}
